Source: cinnamon
Section: x11
Priority: optional
Maintainer: Debian Cinnamon Team <debian-cinnamon@lists.debian.org>
Uploaders:
 Maximiliano Curia <maxy@debian.org>,
 Margarita Manterola <marga@debian.org>,
 Fabio Fantoni <fantonifabio@tiscali.it>,
Build-Depends:
 autoconf-archive,
 automake,
 debhelper (>= 11~),
 dh-python,
 dpkg-dev (>= 1.16.1~),
 gir1.2-meta-muffin-0.0 (>= 3.6),
 gnome-pkg-tools (>= 0.11),
 gobject-introspection (>= 1.29.15),
 gtk-doc-tools,
 intltool,
 libcinnamon-desktop-dev (>= 3.6),
 libcinnamon-menu-3-dev (>= 3.6),
 libcjs-dev (>= 3.2),
 libclutter-1.0-dev (>= 1.7.5),
 libcroco3-dev (>= 0.6.2),
 libdbus-glib-1-dev,
 libgirepository1.0-dev (>= 1.29.15),
 libgl1-mesa-dev,
 libglib2.0-dev (>= 2.25.11),
 libgnome-bluetooth-dev (>= 3.1.0) [linux-any],
 libgstreamer1.0-dev,
 libgtk-3-dev (>= 3.9.12),
 libjson-glib-dev (>= 0.13.2),
 libmuffin-dev (>= 3.6),
 libnm-dev (>= 1.6) [linux-any],
 libnma-dev [linux-any],
 libpolkit-agent-1-dev (>= 0.100),
 libpulse-dev,
 libsoup2.4-dev,
 libstartup-notification0-dev (>= 0.11),
 libxfixes-dev (>= 1:5.0),
 python,
 python3:any,
Standards-Version: 4.1.3
Homepage: http://cinnamon.linuxmint.com
Vcs-Browser: https://salsa.debian.org/cinnamon-team/cinnamon
Vcs-Git: https://salsa.debian.org/cinnamon-team/cinnamon.git

Package: cinnamon
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends:
 cinnamon-common (= ${source:Version}),
 cinnamon-control-center (>= 3.6),
 cinnamon-desktop-data (>= 3.6),
 cinnamon-screensaver (>= 3.6),
 cinnamon-session (>= 3.6),
 cinnamon-settings-daemon (>= 3.6),
 cjs (>= 3.2),
 cups-pk-helper,
 gir1.2-accountsservice-1.0,
 gir1.2-caribou-1.0,
 gir1.2-clutter-1.0,
 gir1.2-cmenu-3.0 (>= 3.6),
 gir1.2-cogl-1.0,
 gir1.2-cvc-1.0,
 gir1.2-gdkpixbuf-2.0,
 gir1.2-gkbd-3.0,
 gir1.2-glib-2.0,
 gir1.2-gnomedesktop-3.0,
 gir1.2-gtk-3.0,
 gir1.2-gtkclutter-1.0,
 gir1.2-keybinder-3.0,
 gir1.2-nm-1.0 [linux-any],
 gir1.2-nma-1.0 [linux-any],
 gir1.2-notify-0.7,
 gir1.2-pango-1.0,
 gir1.2-polkit-1.0,
 gir1.2-soup-2.4,
 gir1.2-upowerglib-1.0,
 gir1.2-xapp-1.0,
 gkbd-capplet,
 gnome-backgrounds,
 gnome-themes-extra | gnome-themes-standard,
 gsettings-desktop-schemas (>= 0.1.7),
 iso-flags-png-320x240,
 libglib2.0-bin,
 mesa-utils,
 muffin (>= 3.6),
 nemo (>= 3.6),
 network-manager-gnome [linux-any],
 policykit-1-gnome,
 python,
 python-dbus,
 python-gi-cairo,
 python-lxml,
 python-pam,
 python-pexpect,
 python-pil,
 python-pyinotify,
 python3,
 python3-dbus,
 python3-gi,
 xapps-common,
 ${gir:Depends},
 ${misc:Depends},
 ${python3:Depends},
 ${python:Depends},
 ${shlibs:Depends},
Recommends:
 blueman,
 cinnamon-l10n (>= 3.6),
 gir1.2-gnomebluetooth-1.0 [linux-any],
 gksu,
 gnome-terminal | x-terminal-emulator,
 metacity-common,
Suggests: cinnamon-doc, python-opencv
Provides: notification-daemon, x-window-manager
Replaces: cinnamon-common (<= 2.2.14-1)
Breaks: cinnamon-common (<= 2.2.14-1)
Description: Innovative and comfortable desktop
 Cinnamon is a desktop environment which provides advanced innovative
 features and a traditional user experience.
 .
 The desktop layout is similar to GNOME 2.  The underlying technology is
 forked from gnome-shell.  The emphasis is put on making users feel at home
 and providing them with an easy to use and comfortable desktop experience.

Package: cinnamon-common
Architecture: all
Depends:
 gettext,
 gir1.2-cinnamondesktop-3.0 (>= 3.6),
 gir1.2-meta-muffin-0.0 (>= 3.6),
 gvfs-bin,
 python,
 python-pil,
 xdg-utils,
 ${misc:Depends},
 ${python:Depends},
Replaces: cinnamon (<< 3.6.7-1~)
Breaks: cinnamon (<< 3.6.7-1~)
Description: Innovative and comfortable desktop (Common data files)
 Cinnamon is a desktop environment which provides advanced innovative
 features and a traditional user experience.
 .
 The desktop layout is similar to GNOME 2.  The underlying technology is
 forked from gnome-shell.  The emphasis is put on making users feel at home
 and providing them with an easy to use and comfortable desktop experience.
 .
 This package contains the data files needed by Cinnamon

Package: cinnamon-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Innovative and comfortable desktop (Documentation)
 Cinnamon is a desktop environment which provides advanced innovative
 features and a traditional user experience.
 .
 The desktop layout is similar to GNOME 2.  The underlying technology is
 forked from gnome-shell.  The emphasis is put on making users feel at home
 and providing them with an easy to use and comfortable desktop experience.
 .
 This package contains the documentation files distributed with Cinnamon.
