Source: cinnamon
Section: x11
Priority: optional
Maintainer: Debian Cinnamon Team <pkg-cinnamon-team@lists.alioth.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>,
           Margarita Manterola <marga@debian.org>,
           Fabio Fantoni <fantonifabio@tiscali.it>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               dpkg-dev (>= 1.16.1~),
               gir1.2-json-1.0,
               gir1.2-meta-muffin-0.0,
               gnome-bluetooth (>= 3.1.0) [linux-any],
               gnome-common,
               gnome-pkg-tools (>= 0.11),
               gobject-introspection (>= 1.29.15),
               gsettings-desktop-schemas-dev (>= 0.1.7),
               gvfs-backends,
               intltool,
               libcanberra-dev,
               libcaribou-dev,
               libcinnamon-desktop-dev (>= 1.0.0),
               libcjs-dev,
               libclutter-1.0-dev (>= 1.7.5),
               libcroco3-dev (>= 0.6.2),
               libdbus-glib-1-dev,
               libgconf2-dev,
               libgirepository1.0-dev (>= 1.29.15),
               libgl1-mesa-dev,
               libglib2.0-bin (>= 2.25.11),
               libglib2.0-dev (>= 2.25.9),
               libgnome-bluetooth-dev (>= 3.1.0) [linux-any],
               libgnome-keyring-dev,
               libcinnamon-menu-3-dev,
               libgstreamer1.0-dev,
               libgtk-3-dev (>= 3.0.0),
               libgudev-1.0-dev [linux-any],
               libjavascriptcoregtk-3.0-dev,
               libjson-glib-dev (>= 0.13.2),
               libmozjs185-dev,
               libmuffin-dev (>= 1.8.1),
               libnm-glib-dev (>= 0.8.999) [linux-any],
               libpolkit-agent-1-dev (>= 0.100),
               libpulse-dev,
               librsvg2-dev,
               libsoup2.4-dev,
               libstartup-notification0-dev (>= 0.11),
               libwebkitgtk-3.0-dev,
               libxfixes-dev (>= 1:5.0),
               libxss-dev,
               python
Standards-Version: 3.9.5
Homepage: http://cinnamon.linuxmint.com
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-cinnamon/cinnamon.git
Vcs-Git: git://anonscm.debian.org/pkg-cinnamon/cinnamon.git

Package: cinnamon
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: caribou,
         cinnamon-common (= ${source:Version}),
         cinnamon-control-center (>= 2.2),
         cinnamon-desktop-data (>= 2.2),
         cinnamon-screensaver (>= 2.2),
         cinnamon-session (>= 2.2),
         cinnamon-settings-daemon (>= 2.2),
         cjs (>= 2.2),
         cups-pk-helper,
         gir1.2-accountsservice-1.0,
         gir1.2-caribou-1.0,
         gir1.2-clutter-1.0,
         gir1.2-cogl-1.0,
         gir1.2-gconf-2.0,
         gir1.2-gdkpixbuf-2.0,
         gir1.2-gkbd-3.0,
         gir1.2-glib-2.0,
         gir1.2-cmenu-3.0,
         gir1.2-nmgtk-1.0,
         gir1.2-gnomebluetooth-1.0 [linux-any],
         gir1.2-gnomedesktop-3.0,
         gir1.2-gtk-3.0,
         gir1.2-gtkclutter-1.0,
         gir1.2-javascriptcoregtk-3.0,
         gir1.2-networkmanager-1.0 [linux-any],
         gir1.2-pango-1.0,
         gir1.2-polkit-1.0,
         gir1.2-soup-2.4,
         gir1.2-upowerglib-1.0,
         gir1.2-webkit-3.0,
         gkbd-capplet,
         gnome-icon-theme-symbolic (>= 2.91),
         gnome-session-bin,
         gnome-settings-daemon (>= 2.91.5.1),
         gsettings-desktop-schemas (>= 0.1.7),
         libjs-jquery,
         mesa-utils,
         nemo (>= 2.2),
         network-manager-gnome,
         policykit-1-gnome,
         python-dbus,
         python-gconf,
         python-gi-cairo,
         python-imaging,
         python-lxml,
         python-pam,
         python-pexpect,
         python-pyinotify,
         ${gir:Depends},
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Recommends: cinnamon-bluetooth,
            cinnamon-translations,
            gnome-terminal | x-terminal-emulator,
            gksu
Suggests: python-opencv
Provides: notification-daemon, x-window-manager
Replaces: cinnamon-common (<= 2.2.14-1)
Breaks: cinnamon-common (<= 2.2.14-1)
Description: Innovative and comfortable desktop
 Cinnamon is a desktop environment which provides advanced innovative
 features and a traditional user experience.
 .
 The desktop layout is similar to GNOME 2.  The underlying technology is
 forked from gnome-shell.  The emphasis is put on making users feel at home
 and providing them with an easy to use and comfortable desktop experience.

Package: cinnamon-common
Architecture: all
Depends: gir1.2-meta-muffin-0.0, python, ${misc:Depends}
Replaces: cinnamon (<= 2.2.14-1)
Breaks: cinnamon (<= 2.2.14-1)
Description: Innovative and comfortable desktop (Common data files)
 Cinnamon is a desktop environment which provides advanced innovative
 features and a traditional user experience.
 .
 The desktop layout is similar to GNOME 2.  The underlying technology is
 forked from gnome-shell.  The emphasis is put on making users feel at home
 and providing them with an easy to use and comfortable desktop experience.
 .
 This package contains the data files needed by Cinnamon

Package: cinnamon-dbg
Section: debug
Priority: extra
Architecture: any
Depends: cinnamon (= ${binary:Version}), ${misc:Depends}
Description: Innovative and comfortable desktop (Debugging symbols)
 Cinnamon is a desktop environment which provides advanced innovative
 features and a traditional user experience.
 .
 The desktop layout is similar to GNOME 2.  The underlying technology is
 forked from gnome-shell.  The emphasis is put on making users feel at home
 and providing them with an easy to use and comfortable desktop experience.
 .
 This package contains the debugging symbols.
